# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [8]:
import pandas as pd
from tabulate import tabulate

# List of URLs
urls = [
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv",
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv",
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv",
]

# Combine all datasets
Combining_Data = pd.DataFrame()  # Initialize an empty DataFrame

for i, url in enumerate(urls):
    df = pd.read_csv(url)
    
    # Print current dataset's columns
    print(f"Dataset {i + 1} columns:\n", df.columns, "\n")
    
    # Append to the combined dataset
    Combining_Data = pd.concat([Combining_Data, df], ignore_index=True)

# Preview the combined dataset
print("\nCombined Dataset:")
print(tabulate(Combining_Data.head(), headers="keys", tablefmt="grid"))

Dataset 1 columns:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Dataset 2 columns:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

Dataset 3 columns:
 Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')


Combined Dataset:
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+
|    | Customer   | ST         | GENDER   | Education            | Customer Lifetime Value   |   Income |   Monthly Premium Auto | Number of Open Complaints   | Policy Type    | Vehicle Class   |   Total Claim Amount |   State |   Gender |
+====+============+============+==========+======================+===========================+==========+========================+=============================+================+=================+======================+=========+==========+
|  0 | RB50392    | Washington | nan      | Master               | nan                       |        0 |                   1000 | 1/0/00                      | Personal Auto  | Four-Door Car   |              2.70493 |     nan |      nan |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+
|  1 | QZ44356    | Arizona    | F        | Bachelor             | 697953.59%                |        0 |                     94 | 1/0/00                      | Personal Auto  | Four-Door Car   |           1131.46    |     nan |      nan |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+
|  2 | AI49188    | Nevada     | F        | Bachelor             | 1288743.17%               |    48767 |                    108 | 1/0/00                      | Personal Auto  | Two-Door Car    |            566.472   |     nan |      nan |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+
|  3 | WW63253    | California | M        | Bachelor             | 764586.18%                |        0 |                    106 | 1/0/00                      | Corporate Auto | SUV             |            529.881   |     nan |      nan |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+
|  4 | GA49547    | Washington | M        | High School or Below | 536307.65%                |    36357 |                     68 | 1/0/00                      | Personal Auto  | Four-Door Car   |             17.2693  |     nan |      nan |
+----+------------+------------+----------+----------------------+---------------------------+----------+------------------------+-----------------------------+----------------+-----------------+----------------------+---------+----------+

In [9]:
# Step 1: Remove rows with NaN values
cleaned_data = Combining_Data.dropna()

# Step 2: Remove rows with any column value as 0
cleaned_data = cleaned_data[(cleaned_data != 0).all(axis=1)]

# Step 3: Replace abbreviations (e.g., 'ST') with full names (e.g., 'States')
# Check if the column 'ST' exists and replace its values if necessary
if 'ST' in cleaned_data.columns:
    cleaned_data = cleaned_data.rename(columns={'ST': 'States'})

# Optional: Preview the cleaned dataset
print("Cleaned Data:")
print(tabulate(cleaned_data.head(), headers="keys", tablefmt="grid"))

Cleaned Data:
+------------+----------+----------+-------------+---------------------------+----------+------------------------+-----------------------------+---------------+-----------------+----------------------+---------+----------+
| Customer   | States   | GENDER   | Education   | Customer Lifetime Value   | Income   | Monthly Premium Auto   | Number of Open Complaints   | Policy Type   | Vehicle Class   | Total Claim Amount   | State   | Gender   |
+============+==========+==========+=============+===========================+==========+========================+=============================+===============+=================+======================+=========+==========+
+------------+----------+----------+-------------+---------------------------+----------+------------------------+-----------------------------+---------------+-----------------+----------------------+---------+----------+

In [11]:
# Check for null values in each column
missing_values = Combining_Data.isnull().sum()
print("\nMissing Values in Each Column:")
print(tabulate(missing_values[missing_values > 0].reset_index(), headers=["Column", "Missing Values"], tablefmt="grid"))

Missing Values in Each Column:
+----+---------------------------+------------------+
|    | Column                    |   Missing Values |
+====+===========================+==================+
|  0 | Customer                  |             2937 |
+----+---------------------------+------------------+
|  1 | ST                        |            10007 |
+----+---------------------------+------------------+
|  2 | GENDER                    |            10129 |
+----+---------------------------+------------------+
|  3 | Education                 |             2937 |
+----+---------------------------+------------------+
|  4 | Customer Lifetime Value   |             2944 |
+----+---------------------------+------------------+
|  5 | Income                    |             2937 |
+----+---------------------------+------------------+
|  6 | Monthly Premium Auto      |             2937 |
+----+---------------------------+------------------+
|  7 | Number of Open Complaints |             2937 |
+----+---------------------------+------------------+
|  8 | Policy Type               |             2937 |
+----+---------------------------+------------------+
|  9 | Vehicle Class             |             2937 |
+----+---------------------------+------------------+
| 10 | Total Claim Amount        |             2937 |
+----+---------------------------+------------------+
| 11 | State                     |             5004 |
+----+---------------------------+------------------+
| 12 | Gender                    |             5004 |
+----+---------------------------+------------------+

In [15]:
# Drop rows with missing values
Combining_Data = Combining_Data.dropna()

# Confirm no missing values remain
print("\nMissing Values After Cleaning:")
print(Combining_Data.isnull().sum().sum())  # Should be 0

Missing Values After Cleaning:
0

In [16]:
# Standardize column names
Combining_Data.columns = Combining_Data.columns.str.lower().str.replace(" ", "_")
print("\nColumn Names After Formatting:")
print(Combining_Data.columns)

Column Names After Formatting:
Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'state',
       'gender'],
      dtype='object')

In [ ]:
# Example: Convert date columns to datetime
if 'effective_to_date' in Combining_Data.columns:
    Combining_Data['effective_to_date'] = pd.to_datetime(Combining_Data['effective_to_date'])

# Convert numeric-like strings (e.g., '10,000') to integers
numeric_columns = ['customer_lifetime_value', 'income']
for col in numeric_columns:
    if col in Combining_Data.columns:
        Combining_Data[col] = Combining_Data[col].replace(",", "", regex=True).astype(float)

print("\nData Types After Formatting:")
print(Combining_Data.dtypes)

Data Types After Formatting:
customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
state                         object
gender                        object
dtype: object

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [97]:
import pandas as pd
from tabulate import tabulate

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
data = pd.read_csv(url)

# Preview the dataset
print("First 5 rows of the dataset:")
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

# Check basic info about the dataset
print("\nDataset Info:")
print(data.info())

First 5 rows of the dataset:
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|    |   unnamed:_0 | customer   | state      |   customer_lifetime_value | response   | coverage   | education   | effective_to_date   | employmentstatus   | gender   |   income | location_code   | marital_status   |   monthly_premium_auto |   months_since_last_claim |   months_since_policy_inception |   number_of_open_complaints |   number_of_policies | policy_type    | policy       | renew_offer_type   | sales_channel   |   total_claim_amount | vehicle_class   | vehicle_size   | vehicle_type   |   month |
+====+==============+============+============+===========================+============+============+=============+=====================+====================+==========+==========+=================+==================+========================+===========================+=================================+=============================+======================+================+==============+====================+=================+======================+=================+================+================+=========+
|  0 |            0 | DK49336    | Arizona    |                   4809.22 | No         | Basic      | College     | 2011-02-18          | Employed           | M        |    48029 | Suburban        | Married          |                     61 |                    7      |                              52 |                    0        |                    9 | Corporate Auto | Corporate L3 | Offer3             | Agent           |              292.8   | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  1 |            1 | KX64629    | California |                   2228.53 | No         | Basic      | College     | 2011-01-18          | Unemployed         | F        |        0 | Suburban        | Single           |                     64 |                    3      |                              26 |                    0        |                    1 | Personal Auto  | Personal L3  | Offer4             | Call Center     |              744.924 | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  2 |            2 | LZ68649    | Washington |                  14947.9  | No         | Basic      | Bachelor    | 2011-02-10          | Employed           | M        |    22139 | Suburban        | Single           |                    100 |                   34      |                              31 |                    0        |                    2 | Personal Auto  | Personal L3  | Offer3             | Call Center     |              480     | SUV             | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  3 |            3 | XL78013    | Oregon     |                  22332.4  | Yes        | Extended   | College     | 2011-01-11          | Employed           | M        |    49078 | Suburban        | Single           |                     97 |                   10      |                               3 |                    0        |                    2 | Corporate Auto | Corporate L3 | Offer2             | Branch          |              484.013 | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  4 |            4 | QA50777    | Oregon     |                   9025.07 | No         | Premium    | Bachelor    | 2011-01-17          | Medical Leave      | F        |    23675 | Suburban        | Married          |                    117 |                   15.1491 |                              31 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Branch          |              707.926 | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+-------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB
None

In [99]:
# Check for null values in each column
missing_values = data.isnull().sum()
print("\nMissing Values in Each Column:")
print(tabulate(missing_values[missing_values > 0].reset_index(), headers=["Column", "Missing Values"], tablefmt="grid"))

Missing Values in Each Column:
+----------+------------------+
| Column   | Missing Values   |
+==========+==================+
+----------+------------------+

In [101]:

# Remove rows where any column has a value of 0
data = data[(data != 0).all(axis=1)]
data = data.dropna()
data = data[~data.apply(lambda row: row.astype(str).str.contains(r"^\.\.\.$")).any(axis=1)]

# Reset the index after removing rows (optional)
data.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|    |   unnamed:_0 | customer   | state      |   customer_lifetime_value | response   | coverage   | education            | effective_to_date   | employmentstatus   | gender   |   income | location_code   | marital_status   |   monthly_premium_auto |   months_since_last_claim |   months_since_policy_inception |   number_of_open_complaints |   number_of_policies | policy_type    | policy       | renew_offer_type   | sales_channel   |   total_claim_amount | vehicle_class   | vehicle_size   | vehicle_type   |   month |
+====+==============+============+============+===========================+============+============+======================+=====================+====================+==========+==========+=================+==================+========================+===========================+=================================+=============================+======================+================+==============+====================+=================+======================+=================+================+================+=========+
|  0 |            4 | QA50777    | Oregon     |                   9025.07 | No         | Premium    | Bachelor             | 2011-01-17          | Medical Leave      | F        |    23675 | Suburban        | Married          |                    117 |                   15.1491 |                              31 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Branch          |             707.926  | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  1 |            6 | IW72280    | California |                   5035.04 | No         | Basic      | Doctor               | 2011-02-14          | Employed           | F        |    37405 | Urban           | Married          |                     63 |                    8      |                              99 |                    3        |                    4 | Corporate Auto | Corporate L2 | Offer2             | Branch          |             287.556  | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  2 |           19 | NJ54277    | California |                   3746.75 | Yes        | Extended   | College              | 2011-02-26          | Employed           | F        |    41479 | Rural           | Married          |                     94 |                   14      |                              38 |                    1        |                    1 | Personal Auto  | Personal L2  | Offer2             | Call Center     |              19.5757 | Two-Door Car    | Large          | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  3 |           23 | NQ71171    | California |                   5107.07 | No         | Basic      | Bachelor             | 2011-02-02          | Employed           | M        |    70174 | Rural           | Married          |                     64 |                   15.1491 |                              80 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Agent           |             128.9    | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  4 |           32 | OJ63606    | Arizona    |                   5776.34 | No         | Premium    | High School or Below | 2011-01-28          | Medical Leave      | F        |    27510 | Suburban        | Married          |                    159 |                    5      |                              28 |                    3        |                    1 | Corporate Auto | Corporate L3 | Offer1             | Call Center     |             871.458  | SUV             | Small          | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+

In [103]:
# Drop rows with missing values
data = data.dropna()

# Confirm no missing values remain
print("\nMissing Values After Cleaning:")
print(data.isnull().sum().sum())  # Should be 0

Missing Values After Cleaning:
0

In [105]:
# Standardize column names
data.columns = data.columns.str.lower().str.replace(" ", "_")
print("\nColumn Names After Formatting:")
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

Column Names After Formatting:
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|    |   unnamed:_0 | customer   | state      |   customer_lifetime_value | response   | coverage   | education            | effective_to_date   | employmentstatus   | gender   |   income | location_code   | marital_status   |   monthly_premium_auto |   months_since_last_claim |   months_since_policy_inception |   number_of_open_complaints |   number_of_policies | policy_type    | policy       | renew_offer_type   | sales_channel   |   total_claim_amount | vehicle_class   | vehicle_size   | vehicle_type   |   month |
+====+==============+============+============+===========================+============+============+======================+=====================+====================+==========+==========+=================+==================+========================+===========================+=================================+=============================+======================+================+==============+====================+=================+======================+=================+================+================+=========+
|  0 |            4 | QA50777    | Oregon     |                   9025.07 | No         | Premium    | Bachelor             | 2011-01-17          | Medical Leave      | F        |    23675 | Suburban        | Married          |                    117 |                   15.1491 |                              31 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Branch          |             707.926  | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  1 |            6 | IW72280    | California |                   5035.04 | No         | Basic      | Doctor               | 2011-02-14          | Employed           | F        |    37405 | Urban           | Married          |                     63 |                    8      |                              99 |                    3        |                    4 | Corporate Auto | Corporate L2 | Offer2             | Branch          |             287.556  | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  2 |           19 | NJ54277    | California |                   3746.75 | Yes        | Extended   | College              | 2011-02-26          | Employed           | F        |    41479 | Rural           | Married          |                     94 |                   14      |                              38 |                    1        |                    1 | Personal Auto  | Personal L2  | Offer2             | Call Center     |              19.5757 | Two-Door Car    | Large          | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  3 |           23 | NQ71171    | California |                   5107.07 | No         | Basic      | Bachelor             | 2011-02-02          | Employed           | M        |    70174 | Rural           | Married          |                     64 |                   15.1491 |                              80 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Agent           |             128.9    | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  4 |           32 | OJ63606    | Arizona    |                   5776.34 | No         | Premium    | High School or Below | 2011-01-28          | Medical Leave      | F        |    27510 | Suburban        | Married          |                    159 |                    5      |                              28 |                    3        |                    1 | Corporate Auto | Corporate L3 | Offer1             | Call Center     |             871.458  | SUV             | Small          | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+

In [107]:
# Example: Convert date columns to datetime
if 'effective_to_date' in data.columns:
    data['effective_to_date'] = pd.to_datetime(data['effective_to_date'])

# Convert numeric-like strings (e.g., '10,000') to integers
numeric_columns = ['customer_lifetime_value', 'income']
for col in numeric_columns:
    if col in data.columns:
        data[col] = data[col].replace(",", "", regex=True).astype(float)

print("\nData Types After Formatting:")
print(data.dtypes)

Data Types After Formatting:
unnamed:_0                                int64
customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                  float64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints               float64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
vehicle_type                             object
month                                     int64
dtype: object

In [108]:
# Define a threshold for "high" response based on `total_claim_amount` mean
threshold = data['total_claim_amount'].mean()

# Create a new "response" column based on the threshold
data['response'] = data['total_claim_amount'].apply(lambda x: 'Yes' if x > threshold else 'No')

# Calculate response rate by vehicle class
response_rate = (
    data.groupby('vehicle_class')['response']
    .apply(lambda x: (x == 'Yes').mean() * 100)
    .reset_index(name='response_rate (%)')
)

# Display the response rate
print("\nResponse Rate by Vehicle Class:")
print(tabulate(response_rate, headers="keys", tablefmt="grid"))

Response Rate by Vehicle Class:
+----+-----------------+---------------------+
|    | vehicle_class   |   response_rate (%) |
+====+=================+=====================+
|  0 | Four-Door Car   |             32.9982 |
+----+-----------------+---------------------+
|  1 | Luxury Car      |             86.6667 |
+----+-----------------+---------------------+
|  2 | Luxury SUV      |             82.6087 |
+----+-----------------+---------------------+
|  3 | SUV             |             69.1429 |
+----+-----------------+---------------------+
|  4 | Sports Car      |             67.3684 |
+----+-----------------+---------------------+
|  5 | Two-Door Car    |             28.6517 |
+----+-----------------+---------------------+

In [109]:
# Average customer lifetime value by policy type
clv_by_policy = (
    data.groupby('policy_type')['customer_lifetime_value']
    .mean()
    .reset_index(name='avg_customer_lifetime_value')
)

print("\nAverage Customer Lifetime Value by Policy Type:")
print(tabulate(clv_by_policy, headers="keys", tablefmt="grid"))

Average Customer Lifetime Value by Policy Type:
+----+----------------+-------------------------------+
|    | policy_type    |   avg_customer_lifetime_value |
+====+================+===============================+
|  0 | Corporate Auto |                       8280.31 |
+----+----------------+-------------------------------+
|  1 | Personal Auto  |                       7980.18 |
+----+----------------+-------------------------------+
|  2 | Special Auto   |                       7562.1  |
+----+----------------+-------------------------------+

In [110]:
# Save the cleaned dataset
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|    |   unnamed:_0 | customer   | state      |   customer_lifetime_value | response   | coverage   | education            | effective_to_date   | employmentstatus   | gender   |   income | location_code   | marital_status   |   monthly_premium_auto |   months_since_last_claim |   months_since_policy_inception |   number_of_open_complaints |   number_of_policies | policy_type    | policy       | renew_offer_type   | sales_channel   |   total_claim_amount | vehicle_class   | vehicle_size   | vehicle_type   |   month |
+====+==============+============+============+===========================+============+============+======================+=====================+====================+==========+==========+=================+==================+========================+===========================+=================================+=============================+======================+================+==============+====================+=================+======================+=================+================+================+=========+
|  0 |            4 | QA50777    | Oregon     |                   9025.07 | Yes        | Premium    | Bachelor             | 2011-01-17 00:00:00 | Medical Leave      | F        |    23675 | Suburban        | Married          |                    117 |                   15.1491 |                              31 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Branch          |             707.926  | Four-Door Car   | Medsize        | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  1 |            6 | IW72280    | California |                   5035.04 | No         | Basic      | Doctor               | 2011-02-14 00:00:00 | Employed           | F        |    37405 | Urban           | Married          |                     63 |                    8      |                              99 |                    3        |                    4 | Corporate Auto | Corporate L2 | Offer2             | Branch          |             287.556  | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  2 |           19 | NJ54277    | California |                   3746.75 | No         | Extended   | College              | 2011-02-26 00:00:00 | Employed           | F        |    41479 | Rural           | Married          |                     94 |                   14      |                              38 |                    1        |                    1 | Personal Auto  | Personal L2  | Offer2             | Call Center     |              19.5757 | Two-Door Car    | Large          | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  3 |           23 | NQ71171    | California |                   5107.07 | No         | Basic      | Bachelor             | 2011-02-02 00:00:00 | Employed           | M        |    70174 | Rural           | Married          |                     64 |                   15.1491 |                              80 |                    0.384256 |                    7 | Personal Auto  | Personal L2  | Offer1             | Agent           |             128.9    | Four-Door Car   | Medsize        | A              |       2 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+
|  4 |           32 | OJ63606    | Arizona    |                   5776.34 | Yes        | Premium    | High School or Below | 2011-01-28 00:00:00 | Medical Leave      | F        |    27510 | Suburban        | Married          |                    159 |                    5      |                              28 |                    3        |                    1 | Corporate Auto | Corporate L3 | Offer1             | Call Center     |             871.458  | SUV             | Small          | A              |       1 |
+----+--------------+------------+------------+---------------------------+------------+------------+----------------------+---------------------+--------------------+----------+----------+-----------------+------------------+------------------------+---------------------------+---------------------------------+-----------------------------+----------------------+----------------+--------------+--------------------+-----------------+----------------------+-----------------+----------------+----------------+---------+

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [112]:
# Verify columns
required_columns = ['customer_lifetime_value', 'policy_type']
if all(col in data.columns for col in required_columns):
    # Handle missing or invalid values
    data['customer_lifetime_value'] = pd.to_numeric(data['customer_lifetime_value'], errors='coerce')
    data = data.dropna(subset=required_columns)

    print("Filtered Data (after handling nulls and conversions):")
    print(data.head())

    # Create pivot table
    if not data.empty:
        pivot_table = data.pivot_table(
            values='customer_lifetime_value',
            index='policy_type',
            aggfunc='sum'
        ).round(2)

        # Display pivot table with tabulate
        print("Pivot Table:")
        print(tabulate(pivot_table, headers='keys', tablefmt='grid'))
    else:
        print("No data available to create a pivot table after filtering.")
else:
    print("Required columns are missing:", required_columns)

Filtered Data (after handling nulls and conversions):
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           4  QA50777      Oregon              9025.067525      Yes
1           6  IW72280  California              5035.035257       No
2          19  NJ54277  California              3746.751625       No
3          23  NQ71171  California              5107.071054       No
4          32  OJ63606     Arizona              5776.338737      Yes

   coverage             education effective_to_date employmentstatus gender  \
0   Premium              Bachelor        2011-01-17    Medical Leave      F
1     Basic                Doctor        2011-02-14         Employed      F
2  Extended               College        2011-02-26         Employed      F
3     Basic              Bachelor        2011-02-02         Employed      M
4   Premium  High School or Below        2011-01-28    Medical Leave      F

   ...  number_of_policies     policy_type        policy  renew_offer_type  \
0  ...                   7   Personal Auto   Personal L2            Offer1
1  ...                   4  Corporate Auto  Corporate L2            Offer2
2  ...                   1   Personal Auto   Personal L2            Offer2
3  ...                   7   Personal Auto   Personal L2            Offer1
4  ...                   1  Corporate Auto  Corporate L3            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0         Branch          707.925645  Four-Door Car       Medsize
1         Branch          287.556107  Four-Door Car       Medsize
2    Call Center           19.575683   Two-Door Car         Large
3          Agent          128.900320  Four-Door Car       Medsize
4    Call Center          871.457982            SUV         Small

  vehicle_type month
0            A     1
1            A     2
2            A     2
3            A     2
4            A     1

[5 rows x 27 columns]
Pivot Table:
+----------------+---------------------------+
| policy_type    |   customer_lifetime_value |
+================+===========================+
| Corporate Auto |               3.42805e+06 |
+----------------+---------------------------+
| Personal Auto  |               1.18586e+07 |
+----------------+---------------------------+
| Special Auto   |          536909           |
+----------------+---------------------------+

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [113]:
data = pd.DataFrame({
    'customer_lifetime_value': [4000, 2500, 3600, 4800, 3100],
    'gender': ['Male', 'Female', 'Female', 'Male', 'Female'],
    'education_level': ['High School', 'Bachelor', 'Master', 'Bachelor', 'High School']
})

# Display the first few rows to verify the data
print("Original DataFrame:")
print(data)

# Create a pivot table for average customer lifetime value by gender and education level
pivot_table = data.pivot_table(
    values='customer_lifetime_value',  # The column to aggregate
    index='gender',                   # Rows
    columns='education_level',        # Columns
    aggfunc='mean'                    # Aggregation function
).round(2)  # Rounding to two decimal places for better readability

# Display the pivot table
print("\nPivot Table:")
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

Original DataFrame:
   customer_lifetime_value  gender education_level
0                     4000    Male     High School
1                     2500  Female        Bachelor
2                     3600  Female          Master
3                     4800    Male        Bachelor
4                     3100  Female     High School

Pivot Table:
+----+---------------------------+----------+-------------------+
|    |   customer_lifetime_value | gender   | education_level   |
+====+===========================+==========+===================+
|  0 |                      4000 | Male     | High School       |
+----+---------------------------+----------+-------------------+
|  1 |                      2500 | Female   | Bachelor          |
+----+---------------------------+----------+-------------------+
|  2 |                      3600 | Female   | Master            |
+----+---------------------------+----------+-------------------+
|  3 |                      4800 | Male     | Bachelor          |
+----+---------------------------+----------+-------------------+
|  4 |                      3100 | Female   | High School       |
+----+---------------------------+----------+-------------------+

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [114]:
data = pd.DataFrame({
    'complaint_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'policy_type': ['Life', 'Car', 'Health', 'Car', 'Health', 'Life', 'Car', 'Health'],
    'month': ['January', 'January', 'February', 'February', 'March', 'March', 'January', 'February']
})

# Display the first few rows to verify the data
print("Original DataFrame:")
print(data)

# Group by policy_type and month to count the number of complaints
complaints_summary = data.groupby(['policy_type', 'month']).size().reset_index(name='number_of_complaints')

# Display the summary table
print("\nSummary Table:")
print(tabulate(data.head(), headers="keys", tablefmt="grid"))

Original DataFrame:
   complaint_id policy_type     month
0           101        Life   January
1           102         Car   January
2           103      Health  February
3           104         Car  February
4           105      Health     March
5           106        Life     March
6           107         Car   January
7           108      Health  February

Summary Table:
+----+----------------+---------------+----------+
|    |   complaint_id | policy_type   | month    |
+====+================+===============+==========+
|  0 |            101 | Life          | January  |
+----+----------------+---------------+----------+
|  1 |            102 | Car           | January  |
+----+----------------+---------------+----------+
|  2 |            103 | Health        | February |
+----+----------------+---------------+----------+
|  3 |            104 | Car           | February |
+----+----------------+---------------+----------+
|  4 |            105 | Health        | March    |
+----+----------------+---------------+----------+

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*